.project-section {
    display: block;
}
.project-subsection {
    height: 100%;
}
.featured-container {
    max-width: 900px;
    margin: 0 auto;
    columns: 2;
    column-gap: 2em;
    column-fill: balance;
    z-index: 5;
    position: relative;
}
.project {
    padding: 2px;
    width: 100%;
    margin: 0;
    height: fit-content;
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* Chrome, Safari, IE 11 */
    display: flex; 
    flex-direction: column-reverse;                     /* Actually FF 20+ */
    margin-bottom: 2em;
    position: relative;
    transition: .25s ease all;
    transform-style: preserve-3d;
}
.project img {
    width: 100%;
    object-fit: cover;
    position: relative
}
.project::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: colors-bg 5s alternate infinite linear;;
    transform: translateZ(-3px);
    transform: translate(0, 0);
    transition: .25s ease all;
    opacity: 0;
}
.project:hover {
    transform: translate(-10px, -10px);
}
.project:hover::after {
    opacity: 1;
    transform: translate(20px, 20px);
}
.project:hover .project-description {
    backdrop-filter: blur(3px) grayscale(50%) brightness(60%);
    background-color: var(--background-color)33;
}
.project:hover .project-title, .project:hover .project-text, .project:hover .project-footer {
    opacity: 1;
}
.project-description {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid rgba(228, 228, 228, 0.8);
    height: 100%;
    width: 100%;
    z-index: 6;
    transition: .25s ease all;
    display: grid;
    grid-template-rows: min-content auto min-content;
    padding: 15px;
}
.project-title, .project-text, .project-footer {
    opacity: 0;
    transition: .4s ease all;
}

/* PROJECT DESCRIPTION */

.project-title {
    font-family: monospace;
    text-align: center;

}
.tags {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.tag {
    font-family: monospace;
    font-weight: bold;
    color: var(--background-color);
    padding: 2px 5px;
    background-color: var(--color-beige);
    border-radius: 5px;
    height: fit-content;
}
.project-footer {
    display: grid;
    grid-template-columns: 80% 20%;
    letter-spacing: -0.05em;
    font-size: 1.6rem;
    padding: 0 5px;
}
.project-text {
    margin: 20px 0;
    padding: 20px 25px;
    height: fit-content;
    max-height: calc(100% - 40px);
    position: relative;
    overflow: hidden;
    display: flex;
}
.project-text p {
    font-size: 18px;
    overflow: hidden;
    margin: 0;
}
.text-decoration__top, .text-decoration__bottom {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.text-decoration__top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 5px;
    height: 40px;
    background-color: var(--color-beige);
}
.text-decoration__top::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 40px;
    height: 5px;
    background-color: var(--color-beige);
}
.text-decoration__bottom::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 5px;
    height: 40px;
    background-color: var(--color-beige);
}
.text-decoration__bottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 40px;
    height: 5px;
    background-color: var(--color-beige);
}
.logos {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: flex-end;
    gap: 5px;
    justify-content: center;
}
.project-link {
    opacity: 35%;
}
.project-link.is-active {
    opacity: 100%;
    transition: .25s ease;
}
.project-link.is-active:hover {
    transform: scale(1.1);
}