.socials {
    position: fixed;
    bottom: 2em;
    right: 1em;
    height: fit-content;
    width: 60px;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    z-index: 9;
}
.twitter {
    animation: tw-slide .3s ease;
}
.github {
    animation: gh-slide .6s ease;
}
.instagram {
    animation: in-slide .9s ease;
}
.linkedin {
    animation: lk-slide 1.2s ease;
}
@keyframes tw-slide {
    0% {
        transform: translateX(4em);
    }
    100% {
        transform: translateX(0)
    }
}
@keyframes gh-slide {
    0% {
        transform: translateX(4em);
    }
    50% {
        transform: translate(4em);
    }
    100% {
        transform: translateX(0)
    }
}
@keyframes in-slide {
    0% {
        transform: translateX(4em);
    }
    66% {
        transform: translate(4em);
    }
    100% {
        transform: translateX(0)
    }
}
@keyframes lk-slide {
    0% {
        transform: translateX(4em);
    }
    75% {
        transform: translate(4em);
    }
    100% {
        transform: translateX(0)
    }
}
.socials div {
    height: 6rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials div {
    padding: 15px 0;
    transition: .2s ease;
    cursor: pointer;
    position: relative
}
.socials div:hover {
    transform: scale(1.2);
}
.socials div::after {
    position: absolute;
    top: 2px;
    right: -2rem;
    margin: 10% 0;
    height: 80%;
    width: 3px;
    background-image: url(../img/gradient.png);
    background-position: bottom 0 left 0;
}
.socials div:hover::after {
    content: '';
    animation: jpp 7s infinite linear;
}
@keyframes jpp {
    0% {
        background-position: left 0 bottom 0;
    }
    25% {
        background-position: right 0 bottom 0;
    }
    50% {
        background-position: top 0 right 0;
    }
    75% {
        background-position: top 0 left 0;
    }
    100% {
        background-position: left 0 bottom 0;
    }
}